<div class="email" style="font-size: 15px; font-weight: bold; margin-top: 20px">
  <p>По всем вопросам пишите на почту:</p>

  <%= mail_to 'letzabelin@gmail.com', 'letzabelin@gmail.com', style: 'color: red' %>
</div>
