<%# <% @items.each do |item| %1> %>
<%#   <ul> %>
<%#     <li> %>
<%#       <%= item.name %1> %>
<%#     </li> %>
<%#     <li> %>
<%#       <%= item.price %1> %>
<%#     </li> %>
<%#     <li> %>
<%#       <%= item.description %1> %> 
<%#     </li> %>
<%#   </ul> %>
<%# <% end %1> %>
